/app/Nova
/node_modules
/nova
/public/hot
/public/storage
/public/nova-assets
/resources/views/vendor
/resources/lang/vendor
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
NovaServiceProvider.php
nova.php
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
